node_modules
coverage
.idea
*.log
.nyc_output

*.d.ts
*.js.map
lib/utils/interfaces.js
lib/models/requestInput.js
lib/errors/index.js
lib/errors/kuzzleError.js
lib/errors/unauthorizedError.js
lib/errors/tooManyRequestsError.js
lib/errors/sizeLimitError.js
lib/errors/serviceUnavailableError.js
lib/errors/preconditionError.js
lib/errors/pluginImplementationError.js
lib/errors/partialError.js
lib/errors/notFoundError.js
lib/errors/internalError.js
lib/errors/gatewayTimeoutError.js
lib/errors/forbiddenError.js
lib/errors/externalServiceError.js
lib/errors/badRequestError.js
lib/models/requestResponse.js
lib/models/requestContext.js
lib/request.js
index.js
